<html>
<head>
  <script type="text/javascript"
          src="http://namba:9292/faye.js">
  </script>

  <script type="text/javascript">
    var client = new Faye.Client('http://namba:9292/faye');
    var subscription = client.subscribe('/foo/<%= @token %>', function(message) {
      document.getElementById('speed').innerHTML = message.speed;
    });
  </script>
</head>
<body>
  <a href="http://192.168.8.119:5678/<%= @token %>" target="_blank">download file</a>
  <br>
  speed: <span id="speed"></span> 
</body>
</html>
